# Use postgres/example user/password credentials
version: "3.6"
services:
  db:
    container_name: db-prod
    build:
      context: ../db
      dockerfile: Dockerfile.db
    command:
      [
        "postgres",
        "-c",
        "shared_preload_libraries=pgaudit",
        "-c",
        "logging_collector=on",
        "-c",
        "log_statement=all",
        "-c",
        "log_directory=./log",
      ]
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: db
      PGDATA: /data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - ../db/prod:/data/pgdata
    restart: on-failure:3

  migration:
    container_name: migration-prod
    working_dir: /migration
    volumes: 
      - ../db:/migration
    image: node:16.2-alpine
    command: sh -c "echo 'starting migration' && npm install && npm run migrate"
    depends_on: 
      - db

  server:
    container_name: server-prod
    build:
      context: ../
      dockerfile: ./prod/Dockerfile.server
    environment:
      - "NODE_ENV=production"
    depends_on:
      - db
    command: sh -c "echo 'starting server' && yarn run prod"
    restart: on-failure:3
    ports:
      - "4444:4444"
